style.css
/*  General colors and fonts */ 
body{
font-family: 'Cinzel', serif;
color: grey;
background-color: grey;
font-size: 17px;
}

/*container*/
.container {
background-size: cover;
display: contents;
width: 500px;
margin: 20px, auto;
background-color: grey;
}
/* cards design*/ 
.card-grey {
width: 700px;
padding-top: 20px;
margin: 55px auto;
padding: 40px;
border: 2px solid white;
border-radius: 10px;
box-shadow: 0 5px 10px rgb(0,0,.1);
background-color: grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.little-card-grey {
width: 600px;
margin: 55px auto;
margin-top: 25px;
padding: 20px;
    padding-top: 5px;
border: 2px solid white;
border-radius: 10px;
box-shadow: 0 5px 10px rgb(0,0,.1);
background-color: grey;
    text-align: center;
}

/* Headers*/
h1, h2, h3 {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    padding-top: none;
}

h1{
font-size: 32px;
color: black;
font-weight: bold;
}

h2{
font-size: 28px;
color: black;
font-weight: lighter;
}

h3{
font-size: 24px;
color: blue;
font-weight: lighter;
}

/*Links*/
a{
text-decoration: none;
color: black;
}


a:hover {
text-decoration: none;
}

/*icons*/
i { 
color: white;
 }

 #canada{
  color: #AA27A4;
 }

/*Introduction*/
.introduction {
padding-top: 20px;
width: 700px;
margin: 55px auto;
padding: 40px;
border: 2px solid white;
border-radius: 10px;
box-shadow: 0 5px 10px rgb(0,0,.1);
background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 15px;
 }

.introduction p {
padding-bottom: 25px;
}

.btn-grey{
background-color: rgba(210,210,210,0.8);
color: black;
padding: 15px 20px;
border-radius: 50px;
margin-top: 50px;
}

.btn-grey-hover {
background-color: rgba(250,250,250,1);
}

#img-profile {
border-radius: 50%;
text-align: center;
width: 159px; 
height:179px;
}

.image-circle { 
border-radius: 15px;
 }

 /*Folllow me*/
.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}

.list-inline i {
font-size: 50px;
}

.list-inline i:hover {
font-size: 50px;
color:  rgb(20,20,20);
}

/*mobile-tablet-laptop versions*/
@media (max-width: 1080px) {
.container {
width: 700px;
}
}

@media (max-width: 780px) {
.container {
width: 550px;
}
}

@media (max-width: 600px) {
.container {
width: 420px;
}
}

@media (max-width: 1080px) {
.card-grey, .introduction {
width: 650px;
}
}

@media (max-width: 780px) {
.card-grey, .introduction {
width: 500px;
}
}

@media (max-width: 600px) {
.card-grey, .introduction {
width: 460px;
}
}

@media (max-width: 1080px) {
.little-card-grey {
width: 600px;
}
}

@media (max-width: 780px) {
.little-card-grey {
width: 450px;
}
}

@media (max-width: 600px) {
.little-card-grey {
width: 360px;
}
}